<p id="notice"><%= notice %></p>

<div class="row blog-post">
    <div class="col-xs-12 col-sm-12">
        <div class="well ">
            <div class="title">
                <h1><%= @post.title %></h1>
                <p>
                    <i>-
                        <%= @post.user.email %>
                        <br>
                        <%= @post.created_at.strftime('%m/%d/%Y') %></i>
                </p>

                <div class="row icons">

                    <%= link_to icon('eye'), @post %>
                    <%= link_to icon('pencil'), edit_post_path(@post) %>
                    <%= link_to icon('trash'), @post, method: :delete, data: { confirm: 'Are you sure?'} %>



                    <%= social_share_button_tag(@post.content) %>
                </div>
            </div>

            <p><%= @post.content %></p>

        </div>
    </div>
  </div>
<hr/>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
  <%= render 'comments/form', comment: @comment %>
  </div>
</div>

<h3>Comments:</h3>

     <% @comments.each do |comment| %>
      <div class="row">
        <div class="well comments">

          <p class="user-name"><%= comment.user.email %>:</p>
          <p class="user-comment"><%= comment.content %></p>
          <p class="comment-time text-muted"><%= comment.created_at.strftime('%b %d, %Y') %></p>
          <%= link_to icon('trash'), post_comment_path(comment.post, comment), method: :delete %>
        </div>
      </div>
    <% end %>
